@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.1rem;
}

.headline {
    margin: 2rem 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    text-align: center;
}

.headline hr {
    color: #BF6545;
    background-color: #BF6545;
    width: 5rem;
    text-align: center;
}

/* BUTTONS */
.btn-primary {
    background-color: #274F73;
    border-color: transparent;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0.7rem 2rem;
}

.btn-primary:hover {
    background-color: #224564;
}

.btn-primary:active {
    background-color: #224564 !important;
    border-color: transparent;
}

/* NAV */
.bg-light {
    background-color: #fff !important;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

nav a {
    color: #3C241A !important;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin-left: 1.5rem;
}

nav a:hover {
    color: #7a5545 !important;
}

nav img {
    width: 5rem;
}

.nav-item {
    text-align: right;
}
/* END NAV */

/* HEADER */
.hero-img {
    position: relative;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) , rgba(0, 0, 0, 0.3)),
    url(img/nybakat_bröd_s.jpg);
    height: 85vh;
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-text {
    position: absolute;
    left: 50%;                        
    top: 25%;                         
    transform: translate(-50%, -25%); 
}

.hero-logo {
    width: 9rem;
}

header h1 {
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-weight: bold;
    font-size: 4rem;
    margin: 1rem 0 1rem 0;
}

header h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 2rem;
}

.btn-header {
    padding: 0.7rem 1.5rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
}

@media (min-width: 768px) {
    .hero-logo {
        width: 10rem;
    }
    
    header h1 {
        font-size: 4.5rem;
        margin: 1rem 0 1rem 0;
    }
    
    header h2 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
}
/* EN HEADER */

/* VISION SECTION */
.vision {
    display: flex;
}

.vision-images img {
    display: none;
}

.vision .btn {
    margin-top: 2.5rem;
}

@media (min-width: 768px) {
    .vision-text {
        margin-right: 2.5rem;
    }

    .vision-images img:first-child{
        display: inherit;
        width: 17rem;
    }

    .vision .btn-block {
        display: inline-block;
        width: inherit;
    }
}

@media (min-width: 992px) {
    .vision-images {
        display: flex;
    }
    .vision-images img:last-child{
        display: inherit;
        width: 17rem;
        margin-left: 1rem;
    }
}

@media (min-width: 1200px) {
    .vision-text {
        margin-right: 5rem;
    }
}

/* COLLECTION SECTION */
.collection-bg-a {
    background-color: #FBF1E8;

}

.collection-bg-b {
    background-color: #fff;
}

.collection {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
}

.collection img {
    width: 11rem;
    margin-bottom: 1rem;
}

.collection h2 {
    font-size: 1.8rem;
}

@media(min-width: 992px) {

    #collection .container {
        width: 70%;
    }

    .collection {
        flex-direction: row;
        align-items: center;
        padding: 5rem 0;
    }

    .collection-bg-b .collection .collection-img {
        order: 2;
    }
    .collection-bg-b .collection .collection-text {
        order: 1;
        margin-right: 4rem;
    }

    .collection img {
        width: 10rem;
        margin-right: 4rem;
    }

    .collection h2, 
    .collection p {
    text-align: left;
    }

}

/* FOOTER */
footer {
    background-color: #fff;
    padding: 2rem 0;
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
}
/* END FOOTER */
